<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide='false'>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-split-pane contentId="main-content">

<ion-menu contentId="menu-content" type="overlay">
  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>New This Week</ion-label>
        <ion-button>See All</ion-button>
      </ion-list-header>
    </ion-list>
    Awesome avocado content
  </ion-content>
</ion-menu>
</ion-split-pane>
</ion-app> -->